{% extends 'base1.html' %}
{% load static %}
{% block title %}User Home{% endblock %}

{% block content %}
<div class="col" style="margin-top: 10px;">
    <div class= "card">
      <div class="card-body">
        <h2 class="card-title">{{ username }}</h2>
        <hr>
        <div class="row">
            <div class="col-sm-3">
              <h4 class="mb-0">Full Name</h4>
            </div>
            <div class="col-sm-9">
              <h4 class="text-muted mb-0">{{ first_name }} {{last_name}}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h4 class="mb-0">First Name</h4>
            </div>
            <div class="col-sm-9">
              <h4 class="text-muted mb-0">{{ first_name }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h4 class="mb-0">Last Name</h4>
            </div>
            <div class="col-sm-9">
              <h4 class="text-muted mb-0">{{ last_name }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h4 class="mb-0">Address</h4>
            </div>
            <div class="col-sm-9">
              <h4 class="text-muted mb-0">{{ address }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h4 class="mb-0">Total Accounts</h4>
            </div>
            <div class="col-sm-9">
              <h4 class="text-muted mb-0">{{ total_accounts }}</h4>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}